.navbar {
    padding: 15px 0;
    box-shadow: 0 2px 20px rgb(0 0 0 / 0.1);
}

.navbar-light .navbar-nav .nav-link {
    color: #000!important;
}

.hero {
    background-image: linear-gradient(rgb(230 126 34 / 0.2),rgb(230 126 34 / 0.2)), url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    padding: 7em 0;
}

.hero h4 {
    color: hsl(28deg 78% 20%);
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
}

.hero h2 {
    color: #000;
    font-size: 35px;
}

.hero p {
    color: #000;
    font-size: 20px;
    width: 50%;
    padding-top: 20px;
    text-shadow: 0 0 10px rgb(0 0 0 / 0.1);
}

.om {
    padding: 6em 0;
}

.custom-button {
    background: #27ae60;
    border: 0;
    border-radius: 2px;
    padding: 10px 30px;
}

.custom-button a {
    color: #fff;
    font-weight: 600;
}

.footer {
    background: #e0cbbb;
    padding: 5em 0;
}

.copyright {
    background: #bda898;
    padding: 1em 0;
    text-align: center;
}




@media (max-width: 576px) {

    .hero { text-align: center; }
    .hero p { width: 100%; }
    .custom-img { margin-bottom: 1.5em; }
    .hide-on-phone { display: none!important; }
    .cta-text { font-size: 21px; line-height: 1.5; }
    .navbar { padding: 15px; }

}